<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="A growing collection of ready to use components for the CSS framework Bootstrap 5">
    <link rel="apple-touch-icon" sizes="180x180" href="~/frontend/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/frontend/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/frontend/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/frontend/.t/img/favicon.png">
    <meta name="author" content="Holger Koenemann">
    <meta name="generator" content="Eleventy v2.0.0">
    <meta name="HandheldFriendly" content="true">
    <title>Next Furniture</title>
    <link rel="stylesheet" href="~/frontend/css/theme.min.css">
</head>