
<div class="py-vh-6 bg-gray-900 text-light w-100 overflow-hidden" id="workwithus">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8 text-center" data-aos="fade">
                    <p class="text-secondary lead">@ViewBag.Title</p>
                    <h2 class="display-6 mb-5">@ViewBag.Description</h2>
                </div>
                <div class="col-12">
                    <a href="#" class="btn btn-warning btn-xl shadow me-3 mt-4" data-aos="fade-down">İletişime Geç</a>
                </div>
            </div>

        </div>
    </div>
</div>