@model List<NextFurniture.Models.DAL.Entities.Banner>
<div class="w-100 overflow-hidden bg-gray-100" id="top">

    <div class="container position-relative">
        @foreach (var item in Model)
            {
        <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url(@item.ImgUrl);">
        </div>
        <div class="row">            
                <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
                    <h1 class="display-1 fw-bold mt-5">@item.Title</h1>
                <p class="lead">@item.Description</p>
            </div>
        </div>
         }
    </div>

</div>